.caption {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    padding: 0 5%;
    margin-top: 20px ;
    width: 75%;
    border-top: dashed 1px var(--color-text-secondary);
    text-align: left;
    font-size: 14px;
}

.caption__text {
    text-align: left;
    font-size: 14px;
    color: var(--color-text-secondary);
    font-family: sans-serif;
}
.caption__icon {
    margin-top: 1em;
    margin-right: 16px;
    overflow: visible;
    color: var(--color-text-secondary);
}

@media (min-width: 1200px) {
    .caption {
        justify-content: flex-start;
        margin: 20px 0 0 0 ;
        padding: 0;
        width: 100%;
    }
}