.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 24px;
  max-width: 950px;
  background-color: var(--color-background-secondary);
}

.header__nav {
  display: none;
}

@media (min-width: 1200px) {

.header__nav {
  display: flex;
}

.header__nav-list {
  display: flex;
}

.header__nav-list-item {
  margin-right: 24px;
  list-style-type: none;
}

}

