.image {
  width: 100%;
  margin-top: 16px;
}

// Это должно быть здесь или там где  first-screen?
.first-screen__image {    
  position: relative;
  top: -100px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  width: 100%;
  max-width: 950px;
}