section {
  max-width: 950px;
  margin: 0 auto;
}

.page {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  background-color: var(--color-background-secondary);
}

.first-screen {
  position: relative;
  align-items: center;
  text-align: center;
  padding: 30px var(--padding-side);
  border-bottom: 1px solid var(--color-background-border);
}

.first-screen__cell {
  max-width: 600px;
  margin: 0 auto;
}

.first-screen::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 70%;
  background-color: var(--color-background-secondary);
  transform: translateX(-50%);
}

.first-screen__company {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.first-screen__logo img {
  width: 100%;
}

.first-screen__image {    
  margin: 0 auto;
  width: 100%;
}

.second-screen {
  position: relative;
  text-align: center;
  padding: 0 var(--padding-side);
  background-color: var(--color-background-default);
}

.third-screen {
  position: relative;
  text-align: center;
  padding: 0 var(--padding-side);
  background-color: var(--color-background-default);
  margin-bottom: 64px;
}

@media (min-width: 1200px) {
  .first-screen {
    padding: 30px var(--padding-side) 60px;
  }

  .second-screen {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    align-items: center;
    margin-top: 50px;
    text-align: left;
  }
  .third-screen {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    align-items: center;
    text-align: left;
    column-gap: 32px;
    row-gap: 20px;
  }

  .third-screen__cell:nth-child(1) {
    grid-row: span 1;
  }
  .third-screen__cell:nth-child(2) {
    grid-row: span 2;
    order:-1;
  }
  .third-screen__cell:nth-child(3) {
    grid-row: span 1;
  }

}